.navbar {
	height: 60px;
	padding: 1px;

	.logo {
		a {
			font-size: 20px;
			color: #212121;
		}
	}

	.profileButton {
		position: absolute;
		right: 0; left: auto;
	}

	img.logoImage {
		width: 30px;
		height: auto;
	}
}