.navbar {
	height: 60px;
	padding: 5px 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;

	background-color: #4db6ac;

	.logo {
		a {
			font-size: 20px;
			color: #212121;
		}
	}

	.profileButton {
		position: absolute;
		right: 0; left: auto;

		label {
			margin-left: 30px;
		}
	}

	img.logoImage {
		width: 30px;
		height: auto;
	}
}