//color scheme
$color-primary: #009688;
$color-primaryDark: #00796B;
$color-primaryLight: #E0F2F1;

$color-accent: #F50057;
$color-accentDark: #C51162;
$color-accentLight: #FF80AB;

$color-backgroundLight: #FEFEFE;
$color-backgroundDark: #000000;

$color-font: #212121;

//font
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

// * {
//   background-color: $color-backgroundLight;
//   font-family: 'Open Sans', sans-serif;
//   color: $color-font;
// }