//color scheme
$color-primary: #3F51B5;
$color-primaryDark: #303F9F;
$color-primaryLight: #E8EAF6;

$color-accent: #F44336;
$color-accentDark: #D32F2F;
$color-accentLight: #FFCDD2;

$color-backgroundLight: #FEFEFE;
$color-backgroundDark: #000000;

$color-font: #212121;

//font
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

// * {
//   background-color: $color-backgroundLight;
//   font-family: 'Open Sans', sans-serif;
//   color: $color-font;
// }