<md-dialog class="loginTemplate">
	<div class="formHeader">
		<div layout layout-align='center center'>
			<h2>SIGN IN</h2>	
		</div>
		
		<div class="exitButton">
			<md-button class="md-icon-button" ng-click="cancel()">
	         	<i class="fa fa-times"></i>
	        </md-button>
		</div>
	</div>

	<div class="fruit-container">
        	<md-button class='md-raised md-primary facebookButton' style="color: #FEFEFE">Login with Facebook</i></md-button>


        	<div layout layout-align='center center'>
        		<p class="seperatorWord">OR</p>	
        	</div>
	        	
	        <div>
	        	<div class="emailContainer">
				    <md-input-container class="md-block" flex-gt-sm>
				      <label>Email</label>
				      <input type='email' ng-model="user.email" ng-model-options="{ debounce: 1000 }" ng-change="onEmailChange()">
				    </md-input-container>
				    <div class="sinnperContainer" ng-show='loading'>
				    	<md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="20"></md-progress-circular>
				    </div>
			    </div>
			    <md-input-container class="md-block" flex-gt-sm>
			      <label>Password</label>
			      <input type='password' ng-model="user.password">
			    </md-input-container>
			    <md-input-container class="md-block" flex-gt-sm ng-show="ready">
			      <label>Name</label>
			      <input ng-model="user.name">
			    </md-input-container>
	        </div>
	    </md-tabs>

	    
	    <md-button class='md-raised md-accent facebookButton' type="button" ng-click='answer(user)' style="color: #FEFEFE">Submit</md-button>
	</div>
</md-dialog>