.complainingForm {
	position: relative;

	md-autocomplete md-autocomplete-wrap {
		box-shadow: none;	
		border: #3F51B5 2px solid;	
		border-radius: 7px;
	}

	.container {
		max-width: 700px;
	}

	.header {
		margin-bottom: 20px;

		h1 {
			margin: 0 0 20px 0;
			font-weight: 700;
			color: #444;
			font-size: 50px;
		}
	}

	.blocker {
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		right: 0;
		height: 50px;
		z-index: 5;
		background-color: #FEFEFE;
	}

	.serchBarContainer {
		position: relative;
		width: 100%;
	}

	.md-button {
		width: 50%;
	}

	.search-company {
		margin-bottom: 20px;
	}

	.categoryButton {
		margin: 20px;
		border-radius: 20px;
		height: 50px;
		width: 80%;
		border: 2px #3F51B5 solid;
		outline: none;

		font-size: 14px;
		font-weight: bold;
	}

	.selected {
		background-color: #00C853;
		border: none;
		color: #FEFEFE;
	}

	.headline {
		margin: 100px 0;
		font-weight: 900;
	}

	tr {
		height: 50px;
		font-size: 14px;
	}

	.resultItem {
		margin: 20px 0;
	}

	.uploadImage-button {
		position: absolute;
		bottom: 20px;
		right: 0;
	}
}