
@import '../config.scss';

.profile {
	display: flex;
	flex-direction: column;
	align-items: strech;
	padding: 10px;
	height: 100%;

	.mainContainer {
		display: flex;
		flex-direction: row;
		align-items: start;
		flex-grow: 1;
		flex-wrap: nowrap;
		margin: -10px;
		border: #DDD 2px solid;

		.complainContainer {
			flex: 25;
			border-right: #DDD solid 2px;
			flex-shrink: 0;

			.complaintItem {
				background-color: transparent;
				outline: none;
				border: none;
				border-bottom: 2px #DDD solid;
				border-radius: 0;
				margin: 0;

				h4 {
					margin: 20px;
				}

				.checkIcon {
					margin: 10px;
					color: #DDD;
				}
			}

			.activeComplaint {
				background-color: $color-primary;

				color: #FEFEFE;
			}
		}

		.messageContainer {
			flex: 50;	
			flex-shrink: 0;
			border-right: #DDD solid 2px;
			max-height: 100%;
			padding-bottom: 200px;
			overflow: scroll;

			position: relative;

			.messageBubble {
				margin: 20px 50% 20px 20px;
				padding: 10px;
				border-radius: 20px;
				border: 2px solid $color-primaryDark;
			}

			.user {
				margin: 20px 20px 20px 50%;
				border: 2px solid $color-accentDark;	
			}

			.chat {
				position: absolute;
				bottom: 0; top: auto;
				left: 0; right: 0;
				background-color: #FEFEFE;
				box-shadow: 5px 10px 10px #888888;
				border-top: 2px #DDD solid;
				padding: 20px;

				.md-button {
					color: #FEFEFE;
				}
			}
		}

		.inforContainer {
			flex: 25;
			flex-shrink: 0;
		}
	}
}