<div class="profile">
	<div class="mainContainer">
		<div class="complainContainer">
			<div ng-repeat='complaint in complaints | orderBy:"timestamp":true' class="complaintItem btn btn-default btn-block" ng-click='select(complaint)'
				ng-class='{activeComplaint: currentComplaint === complaint}'>
				<div layout="row" layout-align="start center">
					<div class="checkIcon" ng-class='{resolved : !complaint.status && !complaint.closed, closed: complaint.closed}'>
						<i class="fa fa-check-circle-o fa-2x"></i>
					</div>
					
					<h4>{{complaint.company}}</h4>
				</div>
			</div>
		</div>
		<div class="messageContainer">
			<div ng-repeat='message in currentComplaint.messages'>
				<div class="messageBubble" ng-class="{user : message.isFromUser, helpdesk: !message.isFromUser}">
					<label ng-show='!message.isFromUser'>Helpdesk:</label>
					<label ng-show='message.isFromUser'>Me:</label>
					<h5>{{message.content}}</h5>
				</div>
			</div>

			<div class="chat" layout layout-align='start center'>
				<md-input-container class="md-block" flex='80'>
			        <label>Reply a message</label>
			        <textarea ng-model="input.message" columns="1" md-maxlength="150" rows="2"></textarea>
			    </md-input-container>	
			    <div flex='20' layout layout-align="center center">
			    	<md-button class="md-fab md-primary" aria-label="Send" ng-click='sendMessage(input.message)'>
			            <md-icon md-svg-src="../assets/images/send.svg" style="color: #FEFEFE;"></md-icon>
			        </md-button>
				</div>
		    </div>
		</div>
		<div class="inforContainer">
			<table class="table resultItem">
            <tr>
              <td class="strong">Company</td>
              <td>{{currentComplaint.company}}</td>
            </tr>

            <tr>
              <td class="strong">Category</td>
              <td>{{currentComplaint.category}}</td>
            </tr>
            <tr>
              <td class="strong">Complain</td>
              <td>{{currentComplaint.content}}</td>
            </tr>

            <tr>
              <td class="strong">Started</td>
              <td>{{currentComplaint.timestamp | date: medium}}</td>
            </tr>
            <tr>
              <td class="strong">Last Update</td>
              <td>{{getCurrentTime()}}</td>
            </tr>
            <tr>
              <td class="strong">Customer Id</td>
              <td ng-binded='currentComplaint.customerId'>-</td>
            </tr>
            <tr>
              <td class="strong">Reference Id</td>
              <td ng-binded='currentComplaint.referenceId'>-</td>
            </tr>
            <tr>
              <td class="strong">Status</td>
              <td><span ng-show='currentComplaint.status'>Open</span><span ng-show='!currentComplaint.status'>Close</span></td>
            </tr>
          </table>
          	<div layout layout-align="center center">
          		<md-button class='resolveButton md-primary md-raised' ng-disabled='!currentComplaint.status' ng-click='currentComplaint.status = false'>Resolve</md-button>	
          		<md-button class='resolveButton md-accent md-raised' ng-disabled='!currentComplaint.status' ng-click='currentComplaint.status = false; currentComplaint.closed = true;'>Close</md-button>	
          	</div>
		</div>
	</div>
</div>